* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #333;
  background: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* TOP INFO */
.top-info {
  background: #f5f5f5;
  font-size: 13px;
}

.info-flex {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.top-info a {
  margin-right: 15px;
  color: #333;
  text-decoration: none;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.navbar nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

/* HERO */
.hero {
  padding: 60px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero h1 {
  color: #0b3c7a;
  font-size: 32px;
  line-height: 1.3;
}

.hero p {
  margin-top: 15px;
  font-size: 14px;
}

.hero img {
  width: 100%;
  border-radius: 8px;
}

/* FASILITAS */
.fasilitas {
  padding: 60px 0;
  text-align: left;
}

.fasilitas h2 {
  color: #0b3c7a;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  margin-bottom: 30px;
}

.tabs button {
  border: none;
  background: none;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tabs .active {
  border-color: #0b8065;
  background: #0b8065;
  color: #fff;
}

.fasilitas-content img {
  width: 220px;
  margin-bottom: 15px;
}

.fasilitas-content p {
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}


.social span {
  margin-right: 10px;
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
