* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* HERO */
.hero {
  background: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f') center/cover no-repeat;
  padding: 120px 0;
  text-align: center;
  color: #000000;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center */
  justify-content: center; /* vertical center */
  text-align: center; /* fallback untuk teks */
}

.hero-text p {
  margin-top: 10px;
  text-align: center; /* pastikan */
  color: #ffffff;
}

/* SECTION */
.section {
  padding: 60px 0;
}
.bg-light {
  background: #f9f9f9;
}
.section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

/* GRID DOSEN */
.grid-dosen {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card-dosen {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-dosen img {
  width: 200px;              /* ukuran kecil */
  height: 180px;            
  object-fit: contain;      
  background-color: #ffffff; 
  margin: 0 auto 12px;     
  display: block;
}

.card-dosen h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.card-dosen p {
  font-size: 13px;
  color: #666;
}


/* BUTTON */
.btn-primary {
  display: inline-block;
  background: #023c7c;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
