* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* HEADER */
.header-section {
  background: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f') center/cover no-repeat;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.header-section h1 {
  font-size: 48px;
}

.btn-primary {
  display: inline-block;
  background: #023c7c;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
}

/* SECTION */
.section {
  padding: 60px 0;
}

.bg-light {
  background: #f9f9f9;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.section ul {
  margin: 20px 0;
  list-style-type: disc;
  padding-left: 20px;
}
